h1 {
  text-align: center;
  font-size: 2rem;
}
h1:hover {
  color: aqua;
}
body {
  background-color: rgb(75, 94, 123);
}
main {
  display: flex;
  flex-direction: column;
  margin-inline: 5%;
  padding: 2rem;
  align-items: center;
  background-color: rgb(180, 169, 169);
  font-size: 1.2rem;
  font-family: "Courier New", Courier, monospace;
  font-weight: 800;
  border-radius: 0.4rem;
}
.textField {
  font-size: 1rem;
  font-family: "Courier New", Courier, monospace;
  font-weight: 800;
  width: 50%;
  text-align: center;
}
label {
  margin: 0.6rem;
}
button {
  margin-block: 0.6rem;
  font-size: 1rem;
  font-family: "Courier New", Courier, monospace;
  font-weight: 800;
}
div {
  padding: 0.3rem;
  border-radius: 0.6rem;
}
div:hover {
  color: white;
}
